################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EightMinuteEmpire/v16
/.vs
/Game/EightMinuteEmpire/.vs/EightMinuteEmpire/v16
