################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EightMinuteEmpire/v16
/.vs
/Game/EightMinuteEmpire/.vs/EightMinuteEmpire/v16
Game/EightMinuteEmpire/EightMinuteEmpire/EightMinuteEmpire.vcxproj
Game/EightMinuteEmpire/Debug/EightMinuteEmpire.exe
Game/EightMinuteEmpire/Debug/EightMinuteEmpire.ilk
Game/EightMinuteEmpire/Debug/EightMinuteEmpire.pdb
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/BiddingFacility.obj
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/BiddingFacilityDriver.obj
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/Cards.obj
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/CardsDriver.obj
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/ComputeScore.obj
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/EightMin.7C72E596.tlog/CL.command.1.tlog
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/EightMin.7C72E596.tlog/CL.read.1.tlog
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/EightMin.7C72E596.tlog/CL.write.1.tlog
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/EightMin.7C72E596.tlog/link.command.1.tlog
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/EightMin.7C72E596.tlog/link.read.1.tlog
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/EightMin.7C72E596.tlog/link.write.1.tlog
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/EightMin.7C72E596.tlog/unsuccessfulbuild
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/EightMinuteEmpire.Build.CppClean.log
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/EightMinuteEmpire.log
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/GameLoop.obj
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/GameStart.obj
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/GameStartDriver.obj
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/main.obj
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/map.obj
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/mapdriver.obj
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/part4_driver.obj
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/Player.obj
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/PlayerDriver.obj
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/vc142.idb
Game/EightMinuteEmpire/EightMinuteEmpire/Debug/vc142.pdb
Game/EightMinuteEmpire/EightMinuteEmpire/EightMinuteEmpire.vcxproj
Game/EightMinuteEmpire/EightMinuteEmpire/EightMinuteEmpire.vcxproj.filters
